* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
  }
  #nav_container {
    width: 100%;
    height: 9vh;
  }
  #videos_container {
    width: 95%;
    /* height: 100vh; */
    margin-left: 5%;
    border: 2px solid black;
  }

  nav {
    width: 100%;
    height: 9vh;
    /* background-color: #0e0d0d; */
    display: flex;
    position: fixed;
    top: 0;
    background-color: white;
  }

  #menu {
    height: 4.6vh;
    margin-top: 2.3vh;
    width: 5%;
    text-align: center;
  }

  ion-icon {
    font-size: 1.5rem;
  }

  #yt_logo {
    width: 5rem;
  }

  .search_div {
    width: 50%;
  }

  .search_div input {
    border: 0.001rem solid rgb(197, 197, 197);
    padding: 0.5rem 0.5rem;
    border-right: none;
    margin-top: 1vh;
    margin-left: 15%;
    width: 85%;
    font-size: 0.9rem;
    letter-spacing: 0.0001rem;
    outline: none;
  }

  #search_btn {
    width: 4rem;
    height: 6vh;
    margin-top: 1vh;
    padding-left: 15%;
    border: 0.001rem solid rgb(197, 197, 197);
    text-align: center;
    background-color: rgb(228, 226, 226);
  }

  #search_btn svg {
    width: 10%;
  }

  #mic_div {
    margin-top: 1vh;
    width: 5%;
    /* border: 1px solid black; */
    padding-left: 1%;
  }

  #mic_div button {
    border-radius: 1.3rem;
    vertical-align: middle;
    width: 2.1rem;
    height: 2.1rem;
    border: none;
  }

  #cube_set {
    height: 7vh;
    margin-top: 1vh;
    width: 10%;
    margin-left: 5%;
    border: 2px solid black;
  }

  #debounce_container {
    width: 40.5%;
    height: 50vh;
    position: fixed;
    z-index: 20;
    top: 6.6vh;
    left: 18.6%;
    border: 1px solid rebeccapurple;
    background-color: white;
    overflow-y: scroll;
    display: none;
  }

  .result_para {
    cursor: context-menu;
    margin-bottom: 2vh;
  }

  #videos_container .items{
      display: flex;
      margin: 1rem;
  }

  .video_div{
      width: 30%;
      height: 40vh;
      border: 2px solid black;
      margin-right: 1rem;

  }

  .video_div iframe{
      width: 100%;
      height: 100%;
  }

  .description_div{
      width: 50%;
      height: 40vh;
      border: 2px solid rebeccapurple;
      
  }

  .description_div h3{
      margin-bottom: 1.5vh;
  }

  .channel{
      display: flex;
      margin-top: 1vh;
  }

  .channel_avatar{
      width: 2rem;
      height: 2rem;
      background-color: black;
      border-radius: 50%;
      margin-right: 0.5rem;

  }

  .channel_name{
      display: flex ;
      vertical-align: middle;
      padding-top: 1vh;
  }

  .em{
    font-size: large;
    font-weight: 600;
    margin-top: 2vh;
  }